body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#Leaderboard {
  border-radius: 10px;
}

#TitleBar {
  background-color: green;
  color: white;
  font-size: 20pt;
  
}

table, th, td {
  border: 1px solid black;
}

table {
  width: 100%;
}

th, td {
  text-align: left;
  padding: 10px;
}

#thNum {
  width: 5%;
}

#thName {
  width: 45%;
}

#thRecent {
  width: 25%;
}

#thAllTime {
  width: 25%;
}

.user-img {
  width: 25%;
  border-radius: 10px;
}